In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [0]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

In [0]:
data.describe()

# Предобработка

In [0]:
answers = {} # создадим словарь для ответов

small_movie['profit'] = small_movie.revenue.fillna(small_movie.budget)  #создаём колонку profit (прибыль)
small_movie['profit'] = small_movie['revenue'] - small_movie['budget']  #заполняем колонку profit значениями

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
 answers['1'] = '4. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [0]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv') #открываю рабочий файл
small_movie = movie[movie.columns[1:5]] #ограничиваю число столбцов для удобства
sm = small_movie.loc[small_movie['budget'] == small_movie['budget'].max()] #определяю значение строки по максимальному значению в колонке budget
with pd.option_context('max_columns', None):  #раскрываю все столбцы таблицы
    print(sm) #вывод значения

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)

In [0]:
answers['2'] = '2.Gods and Generals (tt0279111)'
#+

In [0]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')          #открываю рабочий файл
small_movie = movie[movie.columns[1:10]]                                     #ограничиваю число столбцов для удобства
sm = small_movie.loc[small_movie['runtime'] == small_movie['runtime'].max()] #определяю значение строки по максимальному значению в колонке runtime
with pd.option_context('max_columns', None):                                 #раскрываю все столбцы таблицы
    print(sm)                                                                #вывод значения

# 3. Какой из фильмов самый короткий (в минутах)?

In [0]:
answers['3'answers['3'] = '3.Winnie the Pooh (tt1449283)' 
#+

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')          #открываю рабочий файл
small_movie = movie[movie.columns[1:10]]                                     #ограничиваю число столбцов для удобства
sm = small_movie.loc[small_movie['runtime'] == small_movie['runtime'].min()] #определяю значение строки по минимальному значению в колонке runtime
with pd.option_context('max_columns', None):                                 #раскрываю все столбцы таблицы
    print(sm)                                                                #вывод значения

# 4. Какова средняя длительность фильмов?

In [0]:
answers['4'] = '2.110'
#+

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv') #открываю рабочий файл
small_movie = movie[movie.columns[1:10]]                            #ограничиваю число столбцов для удобства
sm = small_movie['runtime'].mean()                                  #определяю среднее значение в колонке runtime
with pd.option_context('max_columns', None):                        #раскрываю все столбцы таблицы
    print(sm)                                                       #вывод значения

# 5. Каково медианное значение длительности фильмов?

In [1]:
answers['5'] = '1.107'
#+

NameError: name 'answers' is not defined

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')  #открываю рабочий файл
small_movie = movie[movie.columns[1:10]]                             #ограничиваю число столбцов для удобства
sm = small_movie['runtime'].median()                                 #определяю медианное значение в колонке runtime
with pd.option_context('max_columns', None):                         #раскрываю все столбцы таблицы
    print(sm)                                                        #вывод значения

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
 answers['6'] = '5.Avatar (tt0499549)'
# +

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')   #открываю рабочий файл
small_movie = movie[movie.columns[1:5]]
small_movie['profit'] = small_movie.revenue.fillna(small_movie.budget)#создаю колонку profit (прибыль)
small_movie['profit'] = small_movie['revenue'] - small_movie['budget']#заполняю profit значениями
profit_max = small_movie.sort_values('profit', ascending = False)     #сортирую колонку profit по убыванию
with pd.option_context('max_columns', None):                          #раскрываю все столбцы таблицы
    print(profit_max)                                                 #вывод значения

# 7. Какой фильм самый убыточный?

In [0]:
answers['7'] = '5.The Lone Ranger (tt1210819)'
#+

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')    #открываю рабочий файл
small_movie = movie[movie.columns[1:5]]
small_movie['profit'] = small_movie.revenue.fillna(small_movie.budget) #создаю колонку profit (прибыль)
small_movie['profit'] = small_movie['revenue'] - small_movie['budget'] #заполняю profit значениями
profit_max = small_movie.sort_values('profit', ascending = True)       #сортирую колонку profit по возрастанию
with pd.option_context('max_columns', None):                           #раскрываю все столбцы таблицы
    print(profit_max)                                                  #вывод значения

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
answers['8'] = '1.1478'
# +

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')     #открываю рабочий файл
small_movie = movie[movie.columns[1:5]]                                 #сокращаю число столбцов для удобства
small_movie['profit'] = small_movie.revenue.fillna(small_movie.budget)  #создаю колонку profit (прибыль)
small_movie['profit'] = small_movie['revenue'] - small_movie['budget']  #заполняю profit значениями
profit_max = small_movie.sort_values('profit', ascending = True)        #сортирую колонку profit по возрастанию
revenue_more = small_movie[small_movie.revenue > small_movie.budget]    #задаю условие для сравнения
with pd.option_context('max_columns', None):                            #раскрываю все столбцы
    print(revenue_more)                                                 #вывод значения

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
answers['7'] = '4.The Dark Knight (tt0468569)'
# +

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')     #открываю рабочий файл
movie['profit'] = movie.revenue.fillna(movie.budget)                    #создаю колонку profit (прибыль)
movie['profit'] = movie['revenue'] - movie['budget']                    #заполняю profit значениями
films = movie.loc[(movie.release_year == 2008)]                         #создаю DF со значениями 2008 года
films_m = films.sort_values('revenue', ascending = False)               #сортирую DF по убыванию
with pd.option_context('max_columns', None):                            #раскрываю все столбцы
    print(films_m)                                                      #вывод значения

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [0]:
answers['10'] = '5.The Lone Ranger (tt1210819)'
# +

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')       #открываю рабочий файл
movie['profit'] = movie.revenue.fillna(movie.budget)                      #создаю колонку прибыль
movie['profit'] = movie['revenue'] - movie['budget']                      #задаю значения колонки прибыль
all_movie = movie.loc[(movie.release_year >= 2012) & (movie.release_year <= 2014)].sort_values('profit', ascending = True) #создаю DF со значениями с 2012 по 2014 год включительно
with pd.option_context('max_columns', None):                              #раскрываю все столбцы
    print(all_movie)                                                      #вывод значения

# 11. Какого жанра фильмов больше всего?

In [0]:
answers['11'] = '3.Drama'
# +

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')               #открываю рабочий файл
small_movie = movie.copy()                                                        #создаю копию объекта
small_movie['genres'] = small_movie.genres.str.split('|')                         #убираю разделители между жанрами
small_movie = small_movie.explode('genres').groupby(['genres']).count().sort_values(by = 'cast', ascending = False) #разбиваю жанры по строкам, группирую, считаю число каждого из них и сортирую по убыванию 
print(small_movie)                                                                #вывод

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
answers['12'] = '1.Drama'
# +

In [ ]:

movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')     #открываю рабочий файл
small_movie = movie.copy()                                              #делаю копию DF
small_movie['profit'] = small_movie.revenue.fillna(small_movie.budget)  #создаю колонку бюджет
small_movie['profit'] = small_movie['revenue'] - small_movie['budget']  #заполняю колонку значениями
small_movie['genres'] = small_movie.genres.str.split('|')               #разделяю все жанры на отдельные слова
small_movie = small_movie.explode('genres').groupby(['genres']).count().sort_values(by = 'profit', ascending = False)#сортирую количество genres в колонке profit по убыванию
print(small_movie)                                                      #вывод значения

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [0]:
answers['13'] = '5.Peter Jackson'
# +

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')                 #открываю рабочий файл
small_movie = movie.copy()                                                          #создаю копию объекта
small_movie = small_movie.explode('director').groupby(['director']).sum().sort_values(by = 'revenue', ascending = False) #разбиваю режиссёров по строкам, группирую и суммирую число каждого из них и сортирую по возрастанию кассовых сборов.
print(small_movie)                                                                  #вывод значения

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [3]:
answers['14'] = '3.Robert Rodriguez'
# +

SyntaxError: invalid syntax (<ipython-input-3-0f29aebf3e08>, line 3)

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')  #открываю рабочий файл
movie['director'] = movie.director.str.split('|')                    #убираю разделители между режиссёрами
movie = movie[movie.genres.str.contains('Action',na=False)]          #выбираю только те строки, которые содержат жанр action
director = movie.explode('director').groupby(['director'])['imdb_id'].count().sort_values(ascending=False)#сортирую количество режиссёров в колонке imdb_id по убыванию
print (director)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
answers['15'] = '3.Chris Hemsworth'
# +

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')
movie['profit'] = movie.revenue.fillna(movie.budget)
movie['profit'] = movie['revenue'] - movie['budget']
actors = movie.loc[(movie.release_year == 2012), 'revenue'] #создаю Series с кассовыми сборами за 2012 год
films = movie.sort_values('revenue', ascending = False)     #сортирую DF по кассовым сборам
joined = films.merge(actors, on='revenue', how='inner')     #соединяю Series и DF по колонке кассовых сборов
with pd.option_context('max_columns', None):                
    print(joined)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [0]:
answers['16'] = '3.Matt Damon'
# +

In [ ]:
actor = pd.Series(movie[movie.budget > movie.budget.mean()].cast.str.split('|').sum()).value_counts().index[0] #делаю выборку по бюджету выше среднего, убираю азделители между актёрами, суммирую и считаю число уникальных значений, задаю первого в списке на вывод
print(actor)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [0]:
answers['17'] = '2.Action'
# +

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')
actor1 = movie[(movie['cast'].str.contains('Nicolas Cage'))]       #делаю отбор строк, которые содержат Николас Кейдж
actor1['genres'] = actor1.genres.str.split('|')                    #убираю разделители между жанрами
genres1 = actor1.explode('genres').groupby(['genres']).count()     #разбиваю жанры по строкам, считаю число каждого в колонке
with pd.option_context('max_columns', None):
    print(genres1)

# 18. Самый убыточный фильм от Paramount Pictures

In [4]:
answers['18'] = '1.K-19: The Widowmaker (tt0267626)'
# +

NameError: name 'answers' is not defined

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')
movie['profit'] = movie.revenue.fillna(movie.budget)                                  
movie['profit'] = movie['revenue'] - movie['budget']
prod_comp = movie[(movie['production_companies'].str.contains('Paramount Pictures'))]    #отбор по Paramount Pictures
prod_comp = prod_comp.explode('profit').groupby('original_title').sum()                  #разбиваю по строкам прибыль, группирую по названию и суммирую
film = prod_comp['profit'].sort_values(ascending=True)                                   #сортриую по возрастаню по колонке прибыль
with pd.option_context('max_columns', None):
    print(film)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [0]:
answers['19'] = '5.2015'
# +

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')
movie['profit'] = movie.revenue.fillna(movie.budget)
movie['profit'] = movie['revenue'] - movie['budget']
film = movie.explode('revenue').groupby('release_year').sum()      #разбиваю кассовые сборы по строкам, группирую по годам выпуска и суммирую
film_year=film['revenue'].sort_values(ascending=False)             #сортирую получившийся DF по колонке кассовые сборы по убыванию
with pd.option_context('max_columns', None):
    print(film_year)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [0]:
answers['20'] = '1.2014'
# +

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')
movie['profit'] = movie.revenue.fillna(movie.budget)
movie['profit'] = movie['revenue'] - movie['budget']
prod_comp = movie[(movie['production_companies'].str.contains('Warner Bros'))]  #отбор строк со студией Ворнер Бро
film = prod_comp.explode('profit').groupby('release_year').sum()                #разбиваю по строкам прибыль, группирую по году выпуска и суммирую
film_revenue=film['revenue'].sort_values(ascending=False)                       #сортирую по кассовым сборам по убыванию
with pd.option_context('max_columns', None):
    print(film_revenue)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
answers['21'] = '4.Сентябрь'
# +

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')
movie.release_date = pd.to_datetime(movie.release_date)              #привожу колонку release_date к формату datetime
movie['release_month'] = movie.release_date.dt.month                 #создаю столбец release_month со значениями месяцев
month = movie.release_date.dt.month.value_counts()                   #считаю уникальные значения месяцев
print(month)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
answers['22'] = '2.450'
# +

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')
movie.release_date = pd.to_datetime(movie.release_date)              #привожу колонку release_date к формату datetime
movie['release_month'] = movie.release_date.dt.month                 #создаю столбец release_month со значениями месяцев
month = movie.release_date.dt.month.value_counts()                   #считаю уникальные значения месяцев
print(month)

# 23. Для какого режиссера зима – самое продуктивное время года?

In [5]:
answers['23'] = '5.Peter Jackson'
# +

NameError: name 'answers' is not defined

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
answers['24'] = '5.Four By Two Productions'
# +

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')
movies = movie.copy()
movies['production_companies'] = movies.production_companies.str.split('|') #убираю разделители
movies = movies.explode('production_companies')                             #разбиваю компании по строкам
movies['original_title'] = movies.original_title.str.len()                  #считаю длину в названии
movies = movies.groupby(['production_companies'])['original_title'].mean().sort_values(ascending=False) #группирую компании по среднему значению символов и сортирую по убыванию
print(movies)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
answers['25'] = '3.Midnight Picture Show'
# +

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')
movie = movie.copy()
movie['production_companies'] = movie.production_companies.str.split('|')
movie = movie.explode('production_companies')
movie['overview'] = movie.overview.str.len()
movie = movie.groupby(['production_companies'])['overview'].mean().sort_values(ascending=False)
print(movie)

26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [0]:
answers['26'] = '1.Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [ ]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')
rate_99 = np.percentile(movie.vote_average, 99)
small_movie = movie[movie.vote_average >= rate_99].sort_values(by='vote_average', ascending=True)
with pd.option_context('max_columns', None):
    print(small_movie)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)

In [0]:
answers['27'] = '5.Daniel Radcliffe & Rupert Grint'
# +

In [0]:
movie = pd.read_csv('C:/Users/Userpc/Desktop/itog/movie_bd_v5.csv')
cast_pairs = movie.copy()
cast_pairs['cast'] = cast_pairs.cast.str.split('|')
cast_pairs.cast = cast_pairs.cast.apply(lambda x: list(combinations(sorted(x), 2)))
cast_pairs.explode('cast').cast.value_counts()
print(cast_pairs)